<app-header></app-header>

<div style="
            text-align: center;
            font-size: 12px;
            color: #444444;
            border: 1px solid #444444;
            width: 400px;
            height: 120px;
            margin: 200px auto;
            padding-top: 64px;
            background: #f9f9f9;
">
  <p>> Hai/Anchor-Seed</p>
  <p>> Build: gulp (prod) </p>
</div>
